
<!-- START MAIN CONTAINER -->
<div class="container-fluid">
    <div class="row">

      <!-- START SIDENAV -->
      <div class="side-nav col-lg-3 col-md-12">

        <!-- START NEW CHAT BUTTON -->
        <div class="row p-2">
          <div class="chat-btn d-flex align-items-center">
            <span class="d-block">+ New Chat</span>
          </div>
        </div>

        <!-- START MODELS -->
        <app-ollamamodels></app-ollamamodels>

        <!-- START CONTROL -->
        <div class="row p-2">
          <div class="col-12">
            <p class="form-label">Chat</p>
          </div>
          <!-- <div class="col-10">
            <input type="range" class="form-range w-100" min="0" max="1" step="0.1" id="gpt-temperature"
              name="gpt-temperature" value="0" />
          </div>
          <div class="col-2 text-end">
            <output for="gpt-temperature">0</output>
          </div> -->
        </div>

        <hr />

        <div class="row">
          <div class="col-12">
            <ul class="list-unstyled">

              <!-- START SETTINGS -->
              <li class="nav-item">
                <a class="nav-link text-white" href="#">
                  <i class="fas fa-cog"></i> Settings
                </a>
              </li>

              <!-- START GET HELP -->
              <li class="nav-item">
                <a class="nav-link text-white" href="#">
                  <i class="fas fa-question-circle"></i> Get Help
                </a>
              </li>

              <!-- START LOG OUT -->
              <li class="nav-item">
                <a class="nav-link text-white" href="#">
                  <i class="fas fa-sign-out-alt"></i> Log Out
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <!-- START CONTENT -->
      <div class="content  p-0 pt-2 col-lg-9 col-md-12">
        
        <app-chat></app-chat>

      </div>
    </div>
</div>

<router-outlet />
